# Project exclude paths
/.idea/
/.gradle/
/build/
/app/build/
/app/src/androidTest/
/app/src/test/
/.kotlin/
/local.properties
*.iml
*.apk
*.aab
/captures/
/.externalNativeBuild/
/.cxx/
/*.png
/tools/perf/
/tmp/
~$*.xlsx
