# Project exclude paths
/.idea/
/.gradle/
/build/
/app/build/
/.kotlin/
/local.properties
*.iml
*.apk
*.aab
/captures/
/.externalNativeBuild/
/.cxx/
/*.png
/tools/perf/classes/
/tools/perf/dex/
/tools/perf/mtclasses/
/tools/perf/mtdex/
/tools/perf/out/
